.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.user {
  background: #291515;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} 
